/* This seemed to get cleared when manually running xrdb ~/.Xresources: */
*customization: -color

 XTerm*.metaSendsEscape: true
UXTerm*.metaSendsEscape: true

 XTerm*.saveLines:	10000
UXTerm*.saveLines:	10000

 XTerm*.background:	MidnightBlue
UXTerm*.background:	MidnightBlue
 XTerm*.foreground:	Gold
UXTerm*.foreground:	Gold

 XTerm*.translations:	#override \n\
			Shift Ctrl <Key>Return:	spawn-new-terminal()
UXTerm*.translations:	#override \n\
			Shift Ctrl <Key>Return:	spawn-new-terminal()

/* Allow tmux to set X selection (clipboard) */
 XTerm*.disallowedWindowOps:	20,21,SetXprop
UXTerm*.disallowedWindowOps:	20,21,SetXprop
