/* This seemed to get cleared when manually running xrdb ~/.Xresources: */
*customization: -color

*.VT100.metaSendsEscape: true

*.VT100.saveLines:	10000

*.VT100.background:	MidnightBlue
*.VT100.foreground:	Gold

*.VT100.translations:	#override \n\
			Shift Ctrl <Key>Return:		spawn-new-terminal() \n\
			Shift <KeyPress>KP_Insert:	insert-selection(SELECT, CUT_BUFFER0) \n\
			Shift <KeyPress>KP_0:		insert-selection(SELECT, CUT_BUFFER0)

/* Allow tmux to set X selection (clipboard) */
*.VT100.disallowedWindowOps:	20,21,SetXprop

/* Just giving these a try for now */
*.VT100.scrollKey:		true
*.VT100.scrollTtyOutput:	false
*.VT100.jumpScroll:		true /* default, needed for fast scroll */
*.VT100.fastScroll:		true /* jump scroll faster for > 1 screen */
*.VT100.multiScroll:		true /* supposed to be good for high latency */
*.VT100.allowScrollLock:	true /* Toggle to keep the viewport on the same lines */

/* Mostly for irssi - see http://atsutane.de/blog/2013/05/14/irssi-screen-urxvt-the-urgency-hint/ */
*.VT100.bellIsUrgent:	true
